{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<div class="page-header">
    {% if game %}
    <h1>Edit {{ game.name }}</h1>
  {% else %}
    <h1>Upload Your Game!</h1>
  {% endif %}
</div>
  <img src="{% static 'images/ctrlPlay.png' %}" alt="The CtrlPlay Logo" class="form-logo"/>
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}