body {
    background-image: url(https://t3.ftcdn.net/jpg/02/64/27/90/360_F_264279006_WDXxV3OHjAOoHqH7iiLDrg23p0947g7U.jpg);
    color: var(--text-color);
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 40px 20px;
    text-align: center;
}

.main-logo {
    width: 260px;
    max-width: 90%;
    margin-bottom: 10px;
    image-rendering: pixelated;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arcade-title {
    font-size: var(--font-xxl);
    margin: 0 0 40px 0;
}

.welcome h2 {
    font-size: var(--font-xl);
    margin-bottom: 10px;
    color: #e63946;
    text-shadow: 2px 2px 0 #000;
}

.arcade-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 350px;
    margin: 0 auto;
}

.login-form h2 {
    font-size: var(--font-xl);
    margin-bottom: 15px;
    color: #ffaa00;
    text-shadow: 1px 1px 0 #000;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: var(--font-reg);
}

.signup-text {
    margin-top: 15px;
    font-size: var(--font-reg);
}

.signup-text a {
    color: #ff00aa;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;
}

.signup-text a:hover {
    color: #ff5555;
    text-shadow: 1px 1px 0 #000;
}